body {
    background-color: #000000;
}

.container {
    border: 2mm solid #bdbdbd;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
}

.zone {
    flex: 1 1 6.25%;
    border: 0.5mm solid #c7c7c7;
    padding: 25px 25px;
    box-sizing: border-box;
    background-color: white;
}

.zone-colored {
    background-color: #c90a0a;
}

.option-modal.hidden {
    display: none;
}

.option-modal {
    display: flex;
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 100%;
    background-color: hsla(0, 0%, 0%, 0.638);
}

.option-modal-window {
    background-color: white;
    padding: 25px;
    border-radius: 5px;
}