body {
    background-color: #000000;
}

.container {
    border: 1mm solid #bdbdbd;
    display: flex;
    flex-wrap: wrap;
    /*overflow: scroll; */
    aspect-ratio: 1 / 1;
}

.zone {
    flex-grow: 0;
    flex-shrink: 0;
    border: 0.5mm solid #c7c7c7;
    box-sizing: border-box;
    background-color: white;
    aspect-ratio: 1 / 1;
}

.zone-colored {
    background-color: #c90a0a;
}

.option-modal.hidden {
    opacity: 1;
    pointer-events: auto;
}

.option-modal {
    display: flex;
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 100%;
    background-color: hsla(0, 0%, 0%, 0.638);
    transition: opacity 150ms ease-out;
    pointer-events: none;
    opacity: 0;
}

.option-modal-window {
    background-color: white;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.554);
}